/*Style pour afficher dans la page produits les produits d'une même catégorie sur une même ligne avec une scrollBar*/
.items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-x: auto;
    margin-bottom: 20px;
  }
  