.item {
  text-decoration: none;
  min-width: 230px;
  height: 350px;
  margin: 0 0 20px 20px;
  background: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#986946),
    to(#d8c6b8)
  );
  background: linear-gradient(to left top, #986946, #d8c6b8);
}

.item p {
  text-align: center;
  font-family: Cabin-Medium;
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
