.item {
  text-decoration: none;
  min-width: 230px;
  height: 350px;
  margin: 0 20px 20px 0px;
  background: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#986946),
    to(#d8c6b8)
  );
  background: linear-gradient(to left top, #986946, #d8c6b8);
}

.item img {
  max-width: 230px;
  max-height: 230px;
}

.item p {
  text-align: center;
  font-family: Cabin-Medium;
  font-size: 18px;
  color: #fff;
  margin-top: 40px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.flexproduit {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.produitimage {
  flex: 50%;
  margin-top: 30px;
}

.produitimage img {
  max-width: 90%;
  max-height: 90%;
}

.produitinfos {
  flex: 50%;
}

.produittitle {
  font-family: Cabin-Medium;
  font-size: 32px;
  z-index: 1;
  margin-bottom: 20px;
}

.produittitle::before {
  content: "";
  display: block;
  background: #d3d36e;
  height: 20px;
  width: 50px;
  border-radius: 20px 0 20px 0;
  position: relative;
  left: -5%;
  top: 40px;
  z-index: -1;
}

.produitinfos h1 {
  margin-bottom: 20px;
}

.produitinfos p {
  margin-bottom: 20px;
  max-width: 500px;
}

/*Style pour différentes tailles d'écran*/
@media (max-width: 37.5em) {
  .produitimage {
    display: flex;
    justify-content: center;
  }
  .produitinfos {
    margin: 0 50px;
  }
  .item {
    margin: 0 0 20px 20px;
  }
}

/*----------*/

.cadrePanier{
  z-index: 9999;
  position: fixed;
  bottom:100px;
  right:100px;
  background-color: #ffffff;
  border : 3px solid #986946;
  border-radius:10px;
  padding: 20px;
  font-size: 20px;
  width:200px;
}

.cadrePanier:hover{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}


button {
  font-family: Cabin-Medium;
  font-size: 16px;
  color: #fff;
  background-color: #986946;
  border: 2px solid #986946;
  width: 100%;
  padding: 5px 0px;
  margin-top: 10px;
  transition: all 0.2s ease;
}

button:hover {
  color: #986946;
  background-color: #fff;
  cursor: pointer;
}
.categorySelected {
  color: #986946;
  background-color: #fff;
  cursor: pointer;
}