.item {
  text-decoration: none;
  min-width: 230px;
  height: 350px;
  margin: 0 0 20px 20px;
  background: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#986946),
    to(#d8c6b8)
  );
  background: linear-gradient(to left top, #986946, #d8c6b8);
}

.item p {
  text-align: center;
  font-family: Cabin-Medium;
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.flexproduit {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.produitimage {
  flex: 50%;
  margin-top: 30px;
}

.produitinfos {
  flex: 50%;
}

.produittitle {
  font-family: Cabin-Medium;
  font-size: 32px;
  z-index: 1;
  margin-bottom: 20px;
}

.produittitle::before {
  content: "";
  display: block;
  background: #d3d36e;
  height: 20px;
  width: 50px;
  border-radius: 20px 0 20px 0;
  position: relative;
  left: -5%;
  top: 40px;
  z-index: -1;
}

.produitinfos h1 {
  margin-bottom: 20px;
}

.produitinfos p {
  margin-bottom: 20px;
  max-width: 500px;
}

@media (max-width: 56.25em) {
}

@media (max-width: 37.5em) {
  .produitimage {
    display: flex;
    justify-content: center;
  }
  .produitinfos {
    margin: 0 50px;
  }
}
