.reservation_description {
  margin: 20px 0;
}

path {
  pointer-events: none;
}

.places_selectionnees {
  height: 100px;
  overflow-y: scroll;
  border: solid 1px #000;
}

.resume_places_selectionnees {
  margin-top: 20px;
}

.couleur_places_disponibles {
  margin: 5px 0;
}
.couleur_places_selectionnees {
  margin: 5px 0;
}
.couleur_places_occupees {
  margin: 5px 0;
}

.couleur_places_disponibles::before {
  content: "";
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  margin: 5px 5px 0 0;
  background-color: #d3d36e;
}
.couleur_places_selectionnees::before {
  content: "";
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  margin: 5px 5px 0 0;
  background-color: #94d36e;
}
.couleur_places_occupees::before {
  content: "";
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  margin: 5px 5px 0 0;
  background-color: #ff6060;
}

.flex_checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex_checkbox div {
  flex: 50%;
}

.flex_checkbox input[type="checkbox"] {
  visibility: hidden;
}

.custom_checkbox::after {
  content: "";
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  color: #fff;
  border: solid 2px #986946;
  transition: all 0.2s;
}

#checkboxOptionBureautique:checked ~ .custom_checkbox::after,
#checkboxOptionRestauration:checked ~ .custom_checkbox::after {
  content: "\2713";
  text-align: center;
  background-color: #986946;
}

table {
  width: 100%;
}

td {
  border: solid 0px #000;
  padding: 5px 10px;
  margin: 0;
  text-align: left;
}

th:not(th:first-child) {
  background-color: #e2e2e2;
}

td:nth-child(1) {
  background-color: #e2e2e2;
}

.legende_couleur_place {
  margin: 20px 0;
}

.commande_button {
  text-align: center;
  text-decoration: inherit;
  font-family: Cabin-Medium;
  font-size: 18px;
  border: 2px solid #986946;
  background: #986946;
  color: #fff;
  padding: 5px 20px;
  margin: 20px 0 0 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.commande_button:hover {
  border: 2px solid #986946;
  background: none;
  color: #986946;
}

.place:hover,
.salon:hover {
  cursor: pointer;
}

.carte_place_svg {
  width: 100%;
  height: 85%;
}

.carte_salon_svg {
  width: 60%;
  height: 100%;
}

/*Style pour différentes tailles d'écran*/
@media (max-width: 56.25em) {
  .flex_checkbox div {
    flex: 100%;
  }
  .options_text {
    margin: 10px 0;
  }
  .carte_salon_svg {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 37.5em) {
  .carte_place_svg {
    width: 150%;
    height: 98%;
  }
  .carte_salon_svg {
    width: 150%;
    height: 98%;
  }
  .table_overflow {
    overflow-x: scroll;
    height: 100%;
  }
}
