* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: #986946 #fafafa;
}

@font-face {
  font-family: "Cabin-Medium";
  src: url(/src/fonts/Cabin-Medium.ttf);
}

@font-face {
  font-family: "Melt-Script-Rough";
  src: url(/src/fonts/Melts-Script-Rough.otf);
}

/*
.message_erreur_input{
  display:none;
}
*/

*{
  font-family: Cabin-Medium;
}